body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #4e55f1;
    color: white;
    padding: 20px;
    border-bottom: 1px solid #8b0b0b;
    
}
